# 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1='This is a test of the emergency text system,'

# 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [6]:
with open('test.txt') as f:
    test2 = f.readlines()
print(test2)
print(test1)

["test1='This is a test of the emergency text system,'"]
This is a test of the emergency text system,

Yes There is difference between test1 and test2 . i.e test2 is a list but test1 is not a list is is the normal string only

# 3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [12]:
text='''title,author,yearThe Weirdstone of Brisingamen,Alan Garner,1960Perdido Street Station,China Miéville,2000Thud!,Terry Pratchett,2005The Spellman Files,Lisa Lutz,2007Small Gods,Terry Pratchett,1992'''
with open('book.csv','wt') as f:
    f.write(text)

# 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [17]:
import sqlite3
db=sqlite3.connect('book.db')
curs=db.cursor()
curs.execute('''create table book(title text,auther text year int)''')
db.commit()

# 5. Read books.csv and insert its data into the book table.

In [19]:
import csv
import sqlite3
int_str='insert into book values(?,?.?)'
with open("book.csv",'rt') as f:
    books=csv.DictReader(f)
    for book in books:
        curs.execute(int_str,(book['title'],book['auther'],book['year']))
db.commit()

# 6. Select and print the title column from the book table in alphabetical order.

In [28]:
sql='SELECT title FROM book order by title asc'
for i in db.execute(sql):
    print(i[0])

# 7. From the book table, select and print all columns in the order of publication.

In [ ]:
for row in db.execute('select * from book order by year'):
    print(row)


# 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [ ]:
import sqlalchemy
conn= sqlalchemy.create_engine('sqlite:///books.db')
sql='select title from book order by title asc'
rows=conn.execute(sql)
for row in rows:
    pritn(row)

# 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [ ]:
import redis
conn=redis.Redis()
conn.delete('test')
conn.hmset('test',{'count':1,'name':'Fester Bestertester'})
conn.hgetall('test')

# 10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test','count',3)
conn.hget('test','count')